pandas==2.2.3
markdownify==0.14.1
beautifulsoup4==4.12.3
requests==2.32.3
openai==1.58.1
tqdm==4.67.1
tiktoken==0.8.0
transformers==4.47.1
torch==2.5.1
sentence-transformers==3.3.1
loguru==0.7.3
llama-cpp-python==0.3.5
docling==2.14.0
mammoth==1.9.0
markdownify==0.14.1